.Item{
	height: 300px; 
	width:calc(50%);
	min-width:calc(20%);
	background-color: white;
	padding: 15px;
	flex: 0 0 25%;
	max-width: 25.%;
	margin-right: 2px;
	white-space: pre-wrap;
}

/*текст*/
img {
	max-width: 60px;
	max-height: 60px;
	height: auto;
}
@media screen and (max-width: 600px) {
   img {
	max-width: 40px;
	max-height: 40px;
	height: auto;
	}
}
@media screen and (max-width: 800px) {
   img {
	max-width: 50px;
	max-height: 50px;
	height: auto;
	}
}
/*текст*/
	
	/*День недели*/
h7{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height:20px;
	display:inline;
	font-weight:900;
	color:black;
	text-decoration:none;
}
	/*День и месяц*/
h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	display:inline;
	font-weight: 500;
}
@media screen and (max-width: 600px) {
   h3 {
	line-height: 40px;
	font-size: 12px;
	}
}
@media screen and (max-width: 800px) {
   h3 {
	line-height: 20px;
	font-size: 22px;
	}
}
@media screen and (max-width: 1000px) {
   h3 {
	line-height: 20px;
	font-size: 24px;
	}
}

/*Днем погода*/
h4{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	display:inline;
	font-weight: 600;	
}
@media screen and (min-width: 600px) {
   h4 {
	line-height: 30px;
	font-size: 16px;
	}
}
@media screen and (max-width: 600px) {
   h4 {
	line-height: 30px;
	font-size: 15px;
	}
}
@media screen and (min-width: 800px) {
   h4 {
	line-height: 30px;
	font-size: 18px;
	}
}
@media screen and (min-width: 900px) {
   h4 {
	line-height: 30px;
	font-size: 18px;
	}
}
@media screen and (min-width: 1000px) {
   h4 {
	line-height: 30px;
	font-size: 18px;
	}
}
@media screen and (min-width: 1100px) {
   h4 {
	line-height: 30px;
	font-size: 20px;
	}
}
.Sub{
	line-height: 10px;
	margin-top: 15px;
}

/*Ночью погода*/
h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	display:inline;
	font-weight: 600;
	color:#777777;
	line-height: 26px;
}
@media screen and (max-width: 600px) {
   h5 {
	line-height: 12px;
	font-size: 12px;
	}
}
@media screen and (max-width: 800px) {
   h5 {
	line-height: 15px;
	font-size: 14px;
	}
}

/*ветер*/
h8 {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	display:inline;
	line-height: 15px;
	font-weight: 200;
	text-decoration:none;
	font-style:italic;
}
@media screen and (max-width: 600px) {
   h8 {
	line-height: auto;
	font-size: 12px;
	font-style:italic;
	}
}
@media screen and (max-width: 800px) {
   h8 {
	line-height: auto;
	font-size: 12px;
	font-style:italic;
	}
}

/*статус погоды*/
h6 {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	display:inline;
	line-height: 15px;
	font-weight: 200;
	text-decoration:none;
}
@media screen and (max-width: 600px) {
   h6 {
	line-height: auto;
	font-size: 13px;
	}
}
@media screen and (max-width: 800px) {
   h6 {
	line-height: auto;
	font-size: 13px;
	}
}   

span{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	display:inline;
	font-weight: 600;
	color:#777777;
	text-decoration:none;
}
@media screen and (max-width: 600px) {
   span {line-height: 13px;
   font-size: 12px;}
   }
@media screen and (max-width: 800px) {
   span {
	line-height: 10px;
	font-size: 13px;
   }
}   
